* {
   box-sizing: border-box;
}
.reminder {
 	border:1px solid pink;
}
.person {
	border:1px solid #eee;
}
.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
//  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  background-repeat:no-repeat;
}

.sidebar {
  width: 80px;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 8px;
  .circular {
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }
  .name {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
}

.main {
  margin-left: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

.tabbar {
  background: #eee;
  height: 50px;
}
