@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,300italic,400,400italic,500italic,700,700italic);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

* {
   box-sizing: border-box;
}
.reminder {
 	border:1px solid pink;
}
.person {
	border:1px solid #eee;
}
.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
//  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  background-repeat:no-repeat;
}

.sidebar {
  width: 80px;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 40px;
  .circular {
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
  }
  .name {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 6px;
    font-weight: bold;
    color: #666;
  }
  .person {

    margin-top: 10px;
  padding: 8px;
  }
  .selected .person {
    background: #ccc;
  }
}

.main {
  margin-left: 80px;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabbar {
  background: #eee;
  height: 50px;
  padding-top: 5px;

  li {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    padding: 10px 5px 0;

    &.selected {
      background: white;
    }
  }

  a, a:hover {
    color: #333;
    text-decoration: none;
    padding: 10px;
    .plan-icon {
      font-size: 20px;
    }
    .title {
      display: none;
    }
  }
}

.feed {
  padding: 30px 20px 20px;
}

.daytitle {
  font-size: 28px;
  margin-bottom: 20px;
}
