<!doctype html>
<html lang="en">
<head>
 	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href="/css/angular-ui.css" rel="stylesheet"/>
	<!-- cdmbase -->
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- cdmbase -->
	<link rel="stylesheet/less" type="text/css" href="css/datawell.less"/>
	<title>My DataWell</title>
</head>
<body ng-app="datawell" ng-controller="mockup" ng-cloak>
  <div class>
    <div class="sidebar">
      <person ng-repeat="p in people" model='p'></person>
    </div>
    <div class="main">{{selected.person.name}}
      <div class="tabbar">
        <ul>
          <li ng-repeat="plan in selected.person.plans">
            <a href="#">
              <i class="plan-icon {{plan.icon}}"></i>
              <span class="title">{{plan.title}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="feed">
        <div class="day">
          <span class="daytitle">Today</span>
          <div class="progressbar" value="0.2"></div>
          <ul>
            <li ng-repeat="x in fakedata.today">
              <reminder ng-show="model.type === 'reminder'" model="x"></reminder>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="/js/vendor/lesscss.min.js" type="text/javascript"></script>
  <script src="/js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="/js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/js/vendor/angular-ui.js" type="text/javascript"></script>
  <script src="/js/indx.js" type="text/javascript"></script>
  <script src="/js/indx-utils.js" type="text/javascript"></script>
  <script src="js/mockup.js" type="text/javascript"></script>
  <script src="js/mockup-data.js" type="text/javascript"></script>
</body>
</html>
